.pomodoro-container{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    cursor: default;
}

.timer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 4px solid #1c1c8a;
    box-shadow: 0 0 30px #2c2c8f;
    max-width: 600px;
    height: 300px;
    width: 100%;
    border-radius: .60rem;
}

.controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}

.time{
    color: white;
    margin-right: 3px;
    margin-left: 3px;
}

.pomodoro-counter{
    display: inline-flex;
    float: right;
}

.button-container{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.settings{
    min-width: 200px;
}

.btn-correction{
    padding-bottom: 8px !important;
}